body {
    background-color:white;
    margin: 0;
    font-family: arial,sans-serif;
    font-size: 18px;
}

/* Contenedor principal de la página */
.container {
    background-color: white;
    height: 100vh;
}

/* Barra de navegación superior */
#navBar {
    /* border: 2px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
}

#navBarLeft {
    /* border: 2px solid blue; */
    width: 50vw;
    height: inherit;
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

#navBarRight {
    /* border: 2px solid blue; */
    width: 50vw;
    height: inherit;
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: center;
}

.menuHrz {
    float: left;
    margin-right: 30px;
    text-align: left;
    font-size: medium;
}

.menuLink {
    color: #202124;
    text-decoration: none;
    padding-left: 20px;
}

.menuLink:hover {
    text-decoration: underline;
}

.textLink {
    color: #1a0dab;
    text-decoration: none;
}

.textLink:hover {
    text-decoration: underline;
}

.copyLink {
    color: #70757a;
    text-decoration: none;
}

#appBttn {
    width: 70px;
    height: 70px;
    background-image: url(../img/boton1-normal.png);
    background-position: center;
}

#appBttn:hover {
    background-image: url(../img/boton1-hover.png);
    background-position: center;
}

#userImg {
    width: 70px;
    height: 70px;
    background-image: url(../img/user-img-normal.png);
    background-position: center;
}

#userImg:hover {
    background-image: url(../img/user-img-hover.png);
    background-position: center;
}

/* Contenido principal en el medio de la página */
#mainContent {
    /* border: 2px solid red; */
    height: 70vh;
    display: flex;
    flex-flow: column;
    padding: 10px;
}

#googleLogo {
    /* border: 2px solid red; */
    height: 120px;
    margin-bottom: 15px;
    text-align: center;
}

#inputLine {
    /* border: 2px solid red; */
    height: 88px;
    margin-bottom: 15px;
    text-align: center;
}

#buttons {
    /* border: 2px solid red; */
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.roundedConers {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.roundedConers:hover {
    border: 1px solid gray;
}

#otherLang {
    /* border: 2px solid red; */
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #4d5156;
    display: inline-block;
    line-height: 28px;
    font-size: medium;
}

/* Estilos aplicados al contenedor del pie de pagina */
#footer {
    /* border: 2px solid red; */
    height: 20vh;
    background-color: #f2f2f2;
    color: #70757a;
    display: flex;
    padding-left: 20px;
    align-items: center;
    flex-flow: column;
}

#country {
    width: 100vw;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 16px;
    color: #70757a;
    display: block;
}

#bottomMenu {
    width: 100vw;
    padding: 15px 30px;
    font-size: 16px;
    color: #70757a;
    display: flex;
    justify-content: space-between;

}

#btmMenu1 {
    align-self: flex-start;
}

#btmCopy {
    align-self: center;
}

#btmMenu2 {
    align-self: flex-end;
}